<p id="notice"><%= notice %></p>

<h1>Cows</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Status</th>
      <th>Stall</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cows.each do |cow| %>
      <tr>
        <td><%= cow.number %></td>
        <td><%= cow.name %></td>
        <td><%= cow.birthday %></td>
        <td><%= cow.status %></td>
        <td><%= cow.stall %></td>
        <td><%= link_to 'Edit', edit_cow_path(cow) %></td>
        <td><%= link_to 'Move', edit_cow_move_path(cow) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cow', new_cow_path %>
